.wrap-div{
    margin-top: 20px;
    display: block;
    position: relative;
    min-width: 100%;
    overflow: hidden;
}
.carousel-div{
    display: flex;
    width: 50px;
    overflow: hidden;
}
.slider-btn-left{
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    border-radius: 50%;
    color: black;
    background-color: seashell;
    border: 1px solid wheat;
    cursor: pointer;
    opacity: 0.7;
    z-index: 1000;
}
.slider-btn-left:hover{
    opacity: 0.3;
}
.slider-btn-right{
    position: absolute;
    top: 50%;
    right: 20px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    border-radius: 50%;
    color: black;
    background-color: seashell;
    border: 1px solid wheat;
    cursor: pointer;
    opacity: 0.7;
    z-index: 1000;
}
.slider-btn-right:hover{
    opacity: 0.3;
}
.one:nth-child(2n + 2){
    color: seashell;
    width: 100px;
    height: 100px;
    background: lightblue;
}
.one:nth-child(2n + 1){
    color: red;
    width: 100px;
    height: 100px;
    background: indianred;
}
.two{
    color: seashell;
    width: 100px;
    height: 100px;
    background: lightblue;
}
.track{
    position: relative;
    display: flex;
    justify-content: space-around;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}